<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body>
  <h3>Dear authors,</h3>

  <p>Your registration for the 6th International Conference on Engineering Mechanics and Automation (ICEMA 2021) has
    been
    confirmed. Kindly go to the following link to submit your abstract/full paper: http://34.87.3.197:8000/login</p>

  <p>Please note the following important dates:</p>

  <p>Registration: 01 May 2021 - 30 June 2021</p>

  <p>Abstract submission: 01 May 2021 - 30 June 2021</p>

  <p>Full paper submission: 01 July 2021 - 31 August 2021</p>

  <p>Notification of acceptance: 30 September 2021</p>

  <p>Should you have any inquiries, please feel free to contact</p>

  <p>Ms. Phan Thi Cam Ly</p>

  <p>University of Engineering and Technology, VNU</p>

  <p>Room 311, G2 building, 144 Xuan Thuy Road, Cau Giay Dist., Hanoi, Vietnam.</p>

  <p>Phone: (84.24) 37549431</p>

  <p>Email: camlypt@vnu.edu.vn</p>

  <p>Sincerely</p>
</body>

</html>