<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body>

  <h3>Dear authors,</h3>

  <p>Your full paper has been successfully submitted to the 6th International Conference on Engineering Mechanics and
    Automation (ICEMA 2021). Your paper will be sent to reviewers for evaluation. The reviewers’ comments and feedback
    will be forwarded to you once the evaluation process is completed.</p>

  <p>The conference fee should be fully paid by August 31st, 2021.</p>

  <p>Should you have any inquiries, please feel free to contact</p>

  <p>Ms. Phan Thi Cam Ly</p>

  <p>University of Engineering and Technology, VNU</p>

  <p>Room 311, G2 building, 144 Xuan Thuy Road, Cau Giay Dist., Hanoi, Vietnam.</p>

  <p>Phone: (84.24) 37549431</p>

  <p>Email: camlypt@vnu.edu.vn</p>

  <p>Trân trọng.</p>

  <p>Sincerely</p>
</body>

</html>